// global

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  @include prefix(box-sizing, border-box, webkit moz o ms);
}

// global for all pages

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 750ms !important;
  -webkit-transition: all 750ms !important;
  -moz-transition: all 750ms !important;
  -ms-transition: all 750ms !important;
  -o-transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
  background-color: $main-color;

  font: {
    // family: $font-cairo;
    family: Arial, Helvetica, sans-serif;
    size: $font-page;
  }
}

p,
div,
a,
li {
  font-size: 1rem;
}

/* for selection */

::-moz-selection {
  color: #fff;
  background-color: #333;
}

::selection {
  color: #fff;
  background-color: #333;
}

ul,
ol {
  // global ul + li style
  @include reset-list;
}

a {
  text-decoration: none;
  outline: none;
  @include hover {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

img {
  max-width: 100%;
}

.font-bold {
  font-weight: bold;
}
pre.language-html,
pre.language-css,
pre.language-javascript,
pre.language-scss {
  position: relative;
  padding-top: 50px !important;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

pre.language-html {
  &::before {
    content: "HTML";
    background-color: #16a085;
  }
}

pre.language-pug {
  &::before {
    content: "PUG";
    background-color: #16a085;
  }
}

pre.language-css {
  &::before {
    content: "CSS";
    background-color: #3498db;
  }
}
pre.language-scss {
  &::before {
    content: "SCSS";
    background-color: #3498db;
  }
}
pre.language-javascript {
  &::before {
    content: "JAVASCRIPT";
    background-color: #ffc107;
  }
}

pre.language-javascript.browsers {
  &::before {
    // content: url(../images//browsers//google.jpg);
    background-color: #2d2d2d;
    padding: 0;
  }
}

pre.language-javascript.console {
  &::before {
    content: "console";
    background-color: #000;
  }
}
pre.language-html.inspect {
  &::before {
    content: "inspect element";
    background-color: #000;
  }
}

.wrapper {
  @media (min-width: 250px) and (max-width: 767px) {
    @include grid(1);
    gap: 10px 10px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    @include grid(4);
    gap: 10px 10px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    @include grid(4);
    gap: 10px 10px;
  }
  @media (min-width: 1200px) and (max-width: 8000px) {
    @include grid(4);
    gap: 10px 10px;
  }
}
